@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 16px; */
  font-family: "Roboto", sans-serif;
}

:root {
  --bg-primary: #eceff4;
  --bg-secondary: #d8dee9;
  --color-primary: #2e3440;
  --color-secondary: #434c5e;
  --color-burned: #434c5e3b;

  --accent-color: #4a77fb;

  --danger-color: #bf616a;
  --warning-color: #d08770;
  --yellow-color: #ebcb8b;
  --success-color: #a3be8c;
  --sidebar-width: 350;
}

.darktheme {
  --bg-primary: #23211e;
  --bg-secondary: #3b3936;

  --color-primary: #eceff4;
  --color-secondary: #d8dee9;
  --color-burned: #d8dee95f;

  --accent-color: #4f7bff;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
}

.success {
  color: var(--success-color) !important;
}

.danger {
  color: var(--danger-color) !important;
}

#main {
  background-color: var(--bg-primary);
  color: var(--color-primary);
  margin-left: 350px;
  height: 100vh;
}

#sidebar {
  background-color: var(--bg-secondary);
  color: var(--color-primary);
  width: 350px;
  float: left;
  height: 100vh;
}

#split-bar {
  background-color: transparent;
  height: 100%;
  float: right;
  width: 6px;
  cursor: col-resize;
}

.sidebar {
  width: calc(100% - 7px);
  height: 100%;
  float: left;
  overflow: hidden;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.sidebar .usercard {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  padding: 10px;
}

.sidebar .usercard .profileimage {
  flex-basis: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--accent-color);
}
.sidebar .usercard .profileimage div {
  font-size: 30px;
  font-weight: 900;
  color: white;
  text-transform: capitalize;
}

.sidebar .usercard .profileinfo {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar .usercard .profileinfoname {
  font-size: 22px;
  font-weight: 500;
  color: var(--accent-color);
}

.sidebar .usercard .profileinfoemail {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-secondary);
}

.menutoggle {
  position: absolute;
  right: 10px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.searchbar {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  border-radius: 20px;
  border: 2px solid var(--color-burned);
  padding: 5px 10px;
}

.searchbar input {
  flex-grow: 1;
  outline: none;
  font-size: 18px;
  border: none;
  background: transparent;
  padding-left: 10px;
  color: var(--color-primary);
}

.searchbar input:focus {
  outline: none;
  border: none;
}

.searchbar button {
  outline: none;
  border: none;
  flex-basis: 20px;
  width: 20px;
  display: none;
  background: transparent;
  color: var(--color-primary);
  cursor: pointer;
}

.listbar {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
}

.listbar::-webkit-scrollbar {
  width: 5px !important;
}

.listbar::-webkit-scrollbar-thumb {
  background: var(--bg-primary);
  border-radius: 10px;
}

/* Handle on hover */
.listbar::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
}

.contactlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding-bottom: 20px;
}

.close-contactlist {
  display: none !important;
}

.contactlist .contactcard {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.contactlist .active {
  background-color: var(--accent-color);
}

.contactlist .contactcard .contactimage {
  flex-basis: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--yellow-color);
  padding: 20px;
}
.contactlist .contactcard .contactimage div {
  font-size: 30px;
  font-weight: 900;
  color: #2e3440;
  text-transform: capitalize;
}

.contactlist .contactcard .contactinfo {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactlist .contactcard .contactinfoname {
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.contactlist .contactcard:not(.active) .contactinfoname {
  color: var(--accent-color);
}

/* .contactlist .contactcard .contactinfoname {
  color: white;
} */

.contactlist .contactcard .contactlastmsg {
  font-size: 12px;
  font-weight: 500;
  color: rgb(188, 188, 188);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.contactlist .contactcard:not(.active) .contactlastmsg {
  color: var(--color-secondary);
}

.contactlist .contactcard:hover:not(.active) {
  background-color: var(--bg-primary);
}

.searchresultlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding-bottom: 20px;
}

.close-searchresultlist {
  display: none !important;
}

.localsearchresultlist,
.globalsearchresultlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.searchresultlist .searchresultpartition {
  width: 100%;
  background-color: var(--accent-color);
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.searchresultcard {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.searchresultcard:hover {
  background-color: var(--bg-primary);
}

.searchresultcard .searchresultimage {
  flex-basis: 30px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--yellow-color);
}
.searchresultcard .searchresultimage div {
  font-size: 22px;
  font-weight: 900;
  color: #2e3440;
  text-transform: capitalize;
}

.searchresultcard .searchresultinfo {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchresultcard .searchresultinfoname {
  font-size: 18px;
  font-weight: 500;
  color: var(--accent-color);
}

.searchresultcard .searchresultinfolastmsg {
  font-size: 12px;
  font-weight: 500;
  color: var(--color-secondary);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.menubar {
  position: fixed;
  top: 100px;
  left: 0;
  width: 200px;
  transform: translateX(-300px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 15px;
  background-color: var(--bg-secondary);
  color: var(--color-primary);
  transition: transform 0.3s ease-in-out;
}

.menubar-open {
  width: calc(var(--sidebar-width) * 1px - 5px);
  transform: translateX(0);
}

.menubar .menuitem {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  word-break: keep-all;
  color: var(--color-primary);
  padding-left: 10px;
  font-size: 18px;
  cursor: pointer;
}

.menubar .menuitem i {
  width: 24px;
}

.room_creator {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-burned);
  backdrop-filter: blur(10px);
}

.open-group-creator {
  display: flex;
}

.room_creator .creator {
  background-color: var(--bg-secondary);
  border-radius: 10px;
  padding: 20px;
  transform: translateX(100px);
  opacity: 0;
  animation: slidebox 0.3s forwards ease-in-out;
}

@keyframes slidebox {
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.room_creator .creator h3 {
  color: var(--accent-color);
}

.room_creator .creator input {
  background-color: transparent;
  font-size: 18px;
  color: var(--color-secondary);
  border: none;
  outline: none;
  border-bottom: 2px solid var(--color-secondary);
  width: 300px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.room_creator .creator input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid var(--accent-color);
}

.room_creator .creator .creator-error {
  font-size: 16px;
  margin-bottom: 10px;
}

.room_creator .creator .creator-btnbox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.room_creator .creator .creator-btnbox button {
  color: var(--accent-color);
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  font-weight: 600;
}
