:root {
  --bg-primary: #eceff4;
  --bg-secondary: #d8dee9;
  --color-primary: #2e3440;
  --color-secondary: #434c5e;
  --color-burned: #434c5e3b;

  --accent-color: #4a77fb;

  --blue-color: #1550ff;
  --danger-color: #bf616a;
  --warning-color: #d08770;
  --yellow-color: #ebcb8b;
  --success-color: #a3be8c;
}

.chatwindow {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-secondary);
  padding-right: 10px;
}

.chatwindow .chathead {
  width: 100%;
  background-color: var(--bg-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatwindow .chathead .roomdetails {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 10px;
}

.chatwindow .chathead .roomdetails .roomimage {
  flex-basis: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--yellow-color);
}

.chatwindow .chathead .roomdetails .roomimage div {
  font-size: 24px;
  font-weight: 900;
  color: #2e3440;
  text-transform: capitalize;
  margin: 10px;
}

.chatwindow .chathead .roomdetails .roomname {
  font-size: 24px;
  font-weight: 900;
  color: var(--accent-color);
}

.chatwindow .chathead .roomdetails .roomonlinecount {
  font-size: 12px;
  font-weight: 700;
  color: var(--color-secondary);
}

.chatwindow .chathead .chatcontrolbtns {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.chatwindow .chathead .chatcontrolbtns .chatbtn {
  font-size: 20px;
  color: var(--color-secondary);
  cursor: pointer;
  padding: 5px 10px;
}

.chatwindow .chathead .chatcontrolbtns .chatbtn:hover {
  color: var(--accent-color);
}

#chatLog {
  flex-grow: 1;
  height: 300px;
  background-color: var(--bg-primary);
  resize: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
  gap: 10px;
  padding: 20px 10px;
  border-radius: 10px;
}

#onlineUsersSelector {
  height: 300px;
}

.chat {
  max-width: 80%;
  border-radius: 10px;
  align-self: flex-end;
  background-color: var(--blue-color);
  padding: 5px 10px;
  display: flex;
  gap: 10px;
}
.chat .msgdata span {
  font-size: 16px;
  color: var(--yellow-color);
  font-weight: 500;
}
.chat .msgdata {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: white;
}

.chat .msgdata a {
  color: white;
  font-weight: 700;
}

.chat .msgdata .tagtype {
  text-decoration: none !important;
}

.chat .othermsgdata {
  display: block;
  font-size: 10px;
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
}

.mychat {
  align-self: flex-start;
  background-color: var(--accent-color);
}

.notification {
  align-self: center;
  font-size: 10px;
  background-color: gray;
  color: white;
  padding: 5px 7px;
  border-radius: 20px;
  margin: 10px 0;
}

.privatechat {
  background-color: var(--warning-color);
  border-radius: 10px;
}

.myprivatechat {
  background-color: rgb(255, 197, 149);
  border-radius: 10px;
}

.chatMessageInputBox {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background-color: var(--bg-secondary);
}

.chatMessageInputBox input {
  flex-grow: 1;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 16px;
  color: var(--color-secondary);
}

.chatMessageInputBox input:active {
  outline: none;
  border: none;
}

.chatMessageInputBox button {
  flex-basis: 20px;
  font-size: 20px;
  border: none;
  background: none;
  color: var(--color-primary);
}

.chatMessageInputBox button:active {
  outline: none;
  border: none;
}

.chatMessageInputBox .tagsugg {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: absolute;
  bottom: 100%;
  left: 0;
  background-color: var(--bg-secondary);
  gap: 5px;
}

.chatMessageInputBox .tagsugg .sugg {
  width: 100%;
  color: var(--color-primary);
  padding: 5px 10px;
  padding-left: 34px;
  cursor: pointer;
}

.inviteuserbox-overlay {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: var(--color-burned);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
}

.inviteuserbox-open {
  display: flex;
}

.inviteuserbox {
  width: 95%;
  max-width: 400px;
  height: 60vh;
  background-color: var(--bg-primary);
  color: var(--color-primary);
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.671);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.inviteuserbox h3 {
  color: var(--color-primary);
}

.inviteuserbox .usersearchbar {
  width: 100%;
  display: flex;
  gap: 10px;
  font-size: 20px;
  align-items: center;
}

.inviteuserbox .usersearchbar input {
  flex-grow: 1;
  background-color: transparent;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--color-burned);
  padding: 2px;
}

.userusersugg {
  flex-grow: 1;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  flex-direction: column;
  overflow-y: auto;
}

.userusersugg .searchresultcard:hover {
  background: var(--bg-secondary) !important;
}
